* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

.nav-bar button {
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
    background-color: white;
    border: 1px solid hsl(321, 100%, 78%);
    box-shadow: 0px 0px 4px;
    color: hsl(321, 100%, 78%);
    outline: 0;
    width: 8%;
}

.build-fans {
    text-align: center;
    padding-top: 40px;
    line-height: 30px;
}

.build-fans h1, .build-fans p {
    padding-bottom: 25px;
}

.build-fans h1 {
    font-size: 50px;
}

.build-fans p {
    font-size: 18px;
    padding-top: 30px;
}

.build-fans button {
    background-color: hsl(322, 100%, 66%);
    padding: 17px 30px;
    color: white;
    box-shadow: 2px 5px 16px #00000047;;
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 25px;
    cursor: pointer;
    font-size: medium;
    width: 20%;
    font-weight: bold;
}

.build-fans button:hover {
    background-color: hsl(321, 100%, 78%);
    padding: 17px 30px;
    color: white;
    box-shadow: 2px 5px 16px #00000047;;
    border: 1px solid hsl(321, 100%, 78%);
    border-radius: 25px;
    cursor: pointer;
    font-size: medium;
    width: 20%;
    font-weight: bold;
}

.build-fans_img {
    width: auto;
    padding-top: 70px;
    padding-bottom: 50px;
    text-align: center;
}

.build-fans_img img {
    width: 50%;
}

.respon_box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
}

.respon_box h1 {
    font-size: 50px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.respon_box p {
    opacity: 0.6;
}

.grow {
    position: relative;
    padding-bottom: 100px;
  }

  .grow_bgs .section-top-desktop-1, .grow_bgs .section-bottom-desktop-1{
    display: block;
    width: 100%;
  }

  .grow_bgs .section-top-mobile-1, .grow_bgs .section-bottom-mobile-1 {
    display: none;
  }

.grow_bgs {
    height: 100vh;
}

.space {
    background-color: #f6fbff;
    min-height: 33%;
    width: 100%;
}

.grow img {
    display: block;
    width: 100%;
}

.grow_box {
    position: absolute;
    top: 0;
    bottom: -50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4% 12.5%;
    gap: 5%;
}

.grow_box_left, .grow_box_right {
   min-width: 45%;
}

.grow_box_left h1 {
    margin-bottom: 1rem;
    font-weight: 800;
}

.grow_box_left p {
    font-size: 18px;
}

.grow_box_right img {
    height: auto;
}

/* Section on users*/ 


.grow_bgs .section-top-mobile-2, .grow_bgs .section-bottom-mobile-2 {
    display: none;
  }

  .grow_bgs .section-top-desktop-2, .grow_bgs .section-bottom-desktop-2{
    display: block;
    width: 100%;
  }

/* Responsiveness on grow*/
/*
@media (max-width: 426px) {
    .grow_box {
        flex-direction: column;
    }
    .grow_bg_one {
        background: url(./images/bg-section-top-mobile-1.svg), url(./images/bg-section-bottom-mobile-1.svg);

    }
}

*/

.flowing-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 125px 12.5%;
}

.flowing-box_left img {
    width: 80%;
}

.flowing-box_right p {
    padding-top: 20px;
    font-size: 18px;
}

.build-box {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 80px;
}

.build-box h1 {
    font-size: 40px;
    padding-bottom: 20px;
}

.build-box button {
    background-color: hsl(322, 100%, 66%);
    padding: 17px 30px;
    color: white;
    box-shadow: 2px 5px 16px #00000047;
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 25px;
    cursor: pointer;
    width: 20%;
    font-size: medium;
    font-weight: bold;
}

.build-box button:hover {
    background-color: hsl(321, 100%, 78%);
    padding: 17px 30px;
    color: white;
    border: 1px solid hsl(321, 100%, 78%);
    border-radius: 25px;
    box-shadow: 2px 5px 16px #00000047;
    cursor: pointer;
    font-size: medium;
    width: 20%;
    font-weight: bold;
}

.contact {
    position: relative;
    color: white;
}

  .contact_bgs .footer-top-desktop {
    display: block;
    width: 100%;
  }

  .contact_bgs .footer-top-mobile {
    display: none;
  }

.contact_bgs .space {
    background-color:  hsl(192, 100%, 9%);
    height: 80vh;
    width: 100%;
}

.contact_box {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: -webkit-fill-available;
    padding: 16% 12.5%;
}

.contact_box_left {
    width: 70%;
    padding-top: 165px;
}

.contact_box_left .logo {
    padding-bottom: 20px;
}

.contact_box_left p {
    padding-bottom: 20px;
}

.contact_box_right {
    padding-top: 50px;
}

.contact_box_right h1 {
    padding-bottom: 20px;
}

.contact_box_right p {
    padding-bottom: 10px;
    padding-top: 10px;
}

.contact_elm {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.contact_box_right input {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    outline: 0;
}

/*
.input p::after {
    color: hsl(0, 100%, 63%);
    visibility: visible;
    cursor: pointer;
}

*/

.contact_box_right_sub {
    display: flex;
    gap: 20px;
}

.contact_box_right_sub button{
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    border: 0;
    background-color: hsl(322, 100%, 66%);
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
    color: white;
}

.contact_box_right_sub button:hover {
    background-color: hsl(321, 100%, 78%);
    padding: 10px;
    color: white;
    border: 1px solid hsl(321, 100%, 78%);
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

.contact_box_left_brands {
    display: flex;
    gap: 12px;
    padding-top: 50px;
    padding-bottom: 20px;
}

/*Responsiveness on Buid fans and nav-bar section*/
@media (max-width: 426px) {
    .nav-bar button {
        width: 30%;
    }

  
}

/*Responsiveness on Responses*/
@media (max-width: 426px) {
    .nav-bar button {
        width: auto;
    }

    .build-fans h1 {
        font-size: 30px;
    }

    .build-fans_img img {
        width: 100%;
    }

    .build-fans button {
        width: 60%;
    }

    .build-fans button:hover {
        width: 60%;
    }

    .respon_box {
        flex-direction: column;
    }

    .respon_left {
        padding-bottom: 40px;
        padding-top: 20px;
    }

    .respon_box p {
        text-align: center;
        font-size: 20px;
    }

    .space1 {
        height: 43%;
    }

    .grow_bgs .section-bottom-desktop-1, .grow_bgs .section-top-desktop-1 {
        display: none;
    }

    .grow_bgs .section-top-mobile-1, .grow_bgs .section-bottom-mobile-1 {
        display: block;
        visibility: visible;
      }

    .grow_box{
        flex-direction: column;
        padding: 230px 12.5%;
    }

    .grow_box_left, .grow_box_right {
        width: 100%;
    }

    .grow_box_left {
        padding-top: 50px;
        text-align: center;
        order: 2;
    }

    .grow_box_right {
        order: 1;
    }

    .flowing-box {
        flex-direction: column;
    }

    .flowing-box_left img {
        width: 100%;
    }

    .flowing-box_right {
        text-align: center;
        padding-top: 50px;
    }

    .grow_bgs .section-bottom-desktop-2, .grow_bgs .section-top-desktop-2 {
        display: none;
    }

    .grow_bgs .section-top-mobile-2, .grow_bgs .section-bottom-mobile-2 {
        display: block;
        visibility: visible;
      }

      .build-box h1 {
        font-size: 30px;
      }

      .build-box button {
        width: auto;
      }

      .build-box button:hover {
        width: auto;
      }

      .contact_box {
        flex-direction: column;
        padding: 15% 12.5%;
      }

      .footer-top-desktop {
        display: none;
      }

      .footer-top-mobile{
        display: block;
        visibility: visible;
      }

      .contact_bgs .space {
        height: 125vh;
      }

      .contact_box_left {
        width: 100%;
        order: 2;
        padding-top: 60px;
      }

      .contact_box_right_sub {
        flex-direction: column;
        gap: 15px;
      }

      .contact_box_right input {
        width: 100%;
      }

      .contact_box_right_sub button {
        width: 45%;
      }

      .contact_box_right_sub button:hover {
        width: 45%;
      }

      .contact_box_right_sub .button_end {
        text-align: end;
        padding-bottom: 50px;
      }

      .contact_box_left_brands {
        padding-top: 0px;
        padding-bottom: 30px;
      }
}

@media (min-width: 427px) {
    .nav-bar button {
        width: auto;
    }

    .build-fans button {
        width: auto;
    }

    .build-fans button:hover {
        width: auto;
    }

    .build-fans h1 {
        font-size: 40px;
        line-height: 40px;
    } 

    .space1 {
        height: 45%;
    }

    .grow_box{
        flex-direction: column;
        padding: 15rem 12.5%;
    }

    .grow_box_left, .grow_box_right {
        width: 100%;
    }

    .flowing-box {
        flex-direction: column;
    }

    .flowing-box_left img {
        width: 100%;
    }

    .flowing-box_right {
        padding-top: 50px;
    }

    .build-box button {
        width: auto;
      }

      .build-box button:hover {
        width: auto;
      }

      .contact_box {
        flex-direction: column;
        padding: -1% 12.5%;
      }

      .contact_bgs .space {
        height: 100vh;
      }

      .contact_box_left {
        width: 100%;
        padding-top: 20px;
    }

}

@media (min-width: 560px) {
    /*
    */
}

@media (min-width: 800px) {
    .build-fans button {
        width: 20%;
    }

    .build-fans button:hover {
        width: 20%;
    }

    .build-fans h1 {
        font-size: 50px;
    }

    .grow_box{
        flex-direction: row;
        padding: 4% 12.5%;
    }

    .grow_box_left, .grow_box_right {
        width: 45%;
    }

    .space1 {
        height: 33%;
    }

    .flowing-box {
        flex-direction: row;
    }

    .flowing-box_left img {
        width: 80%;
    }

    .flowing-box_right {
        padding-top: 0%;
    }

    .build-box button {
        min-width: 20%;
      }

      .build-box button:hover {
        min-width: 20%;
      }

      .contact_box {
        flex-direction: row;
        padding: 16% 12.5%;
      }

      .contact_bgs .space {
        height: 80vh;
      }
      
      .contact_box_left {
        width: 70%;
        padding-top: 214px;
    }
}
